@inherits RadzenCrm.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@SidebarToggle0Click">
        </RadzenSidebarToggle>
        <RadzenLabel Text="RadzenCRM">
        </RadzenLabel>
      </div>
      <div class="col-6 text-right">
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Text="Contacts" Path="contacts">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Opportunities" Path="opportunities">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Opportunity Statuses" Path="opportunity-statuses">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tasks" Path="tasks">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Task Statuses" Path="task-statuses">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Task Types" Path="task-types">
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="RadzenCRM, Copyright Ⓒ 2021">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
